/*Textos */
$font_texto: 'IBM Plex Mono', monospace;

$font_titulo:'IBM Plex Sans', sans-serif;

/* responsive  */
$vm:700px;

/* colores  */
$fondos:#0000EC;
$letras:#060A24;
$botones:#00F3BB;
$titulo:#FFFFFF;